<html>
<head>
<link rel="stylesheet" href="/css/Stylesheet.css">
<title>WeatherInfo</title>
</head>
<body>
    {{>header}}
    <div class="main">
        <div class="title">ABOUT</div>
    </div>
     {{>footer}}
</body>
</html>