<html>
<head>
<link rel="stylesheet" href="/css/Stylesheet.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>WeatherInfo</title>
</head>
<body>
    {{>header}}
    <div class="main">
        <form>
            <input placeholder="Search location">
            <button>Search</button>
        </form>

        <div class="weatherInfo">
           <div class="iconDiv"> <i class="fas fa-cloud-sun-rain fa-7x"></i></div>
           <div class="box1" style="display: none;">
                <span class="tempBox"><i class="fas fa-cloud-sun fa-5x"></i><span class="temperature"></span></span> 
                <div class="weatherDesc"></div>
           </div>

           <div class="box2" style="display: none;">
                <div class="row1"><div class="label">LOCATION </div> <span class="location value"></span></div>
                <div class="row1"><div class="label">FEELS LIKE </div> <span class="feelsLike value"></span></div>
                <div class="row1"><div class="label">HUMIDITY </div> <span class="humidity value"></span></div>
                <div class="row1"><div class="label">WINDSPEED </div> <span class="windSpeed value"></span></div>
           </div>

           <div class="errorBox" style="display: none;"></div>
        </div>


    </div>
    
     {{>footer}}
</body>
<script src ="/js/app.js" ></script>
</html>